.mediarules {
  font-size: 10px;
  border-width:1px;
  border-top-style: solid;
}

@media (min-width: 5px) {
  .mediarules {
    font-size: 24px;
    flex-direction: column;
  }
}

@media print {
  .mediarules {
    border-top-style: dotted;
  }
}
